<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="./dateicon.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2023-11-25">api/2023-11-25</a></li>
        <li><a href="api/1700870400000">/api/1700870400000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1700870400000, "utc":"Sat, 25 Nov 2023"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.linkedin.com/in/sarfarazunar">Sarfaraz Unar</a>
      </p>
    </div>
  </body>
</html>
